@media only screen and (max-width: 1325px) {
    .container {
        grid-template-columns: auto;
        grid-template-rows: repeat(4, var(--card-height));
        row-gap: 50px;
    }

    canvas {
        min-height: 1400px;
    }
}

@media only screen and (max-width: 600px) {
    :root {
        --card-width: 400px;
    }    
}

@media only screen and (max-width: 500px) {
    :root {
        --card-height: 350px;
        --card-width: 300px;
    }

    .tag {
        margin-top: 5px;
    }

    canvas {
        min-height: 1800px;
    }

    .card-title {
        font-size: 27px;
    }

    .header-container {
        padding: 10px 0px 25px 12px;
    }

    .card-border:nth-child(1) .card{ background-image: url(images/dashboard-mobile.png); }
    .card-border:nth-child(2) .card{ background-image: url(images/Fake-Landing-Page-Mobile-thumbnail.png); }
    .card-border:nth-child(3) .card{ background-image: url(images/Blog-Mobile-thumbnail.png);}
    /* .card-border:nth-child(3) .card{ background-image: url(images/Quiz-Mobile-thumbnail.png);} */
    /* .card-border:nth-child(4) .card{ background-image: url(images/Common-Layouts-Mobile-thumbnail.png);} */
}