@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Titillium+Web:wght@300&display=swap');

:root {
    --card-height: 260px;
    --card-width: 500px;
    --border-radius-standard: 10px;
    --card-transition-time: 0.2s;
    --card-gap: 50px;
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
}

html {
    min-height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    overflow: auto;
}

canvas {
    position: absolute;
    width: 100%;
    min-height: 760px;
    height: 100%;
    z-index: -1;
    top: 0;
    overflow: auto;
}

h1 {
    text-align: center;
    padding: 30px 0px 70px 0px;
    font-size: 48px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
}

a {
    color: #fff;
    text-decoration: none;
}

b {
    font-weight: 1000;
}
.container {
    position: relative;
    margin: 0 auto;
    max-width: fit-content;
    min-height: var(--card-height);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: var(--card-gap);
}

.card {  
    position: relative;
    display: flex;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    z-index: 10;
    pointer-events: auto;
}
  
.card-border {
    position: relative;
    z-index: 9;
    pointer-events: none;
}
  
.card-border:after,
.card-border:before {
    content: "";
    left: -20px;
    bottom: -20px;
    right:-20px;
    top: -20px;
    position: absolute;
    transition: transform 0.3s ease-in-out;
}
  
.card-border:before {
    transform: scaleY(0);
}
  
.card-border:after {
    transform: scaleX(0);
}
  
.card-border:nth-child(1) .card{ background-image: url(images/Quiz-thumbnail.png); background-size: contain;}
.card-border:nth-child(2) .card{ background-image: url(images/Blog-thumbnail.png); background-size: contain;}
.card-border:nth-child(3) .card{ background-image: url(images/Common-Layouts-thumbnail.png); background-size: contain;}
.card-border:nth-child(4) .card{ background-image: url(images/Fake-Landing-Page-thumbnail.png); background-size: contain;}

.card-border:nth-child(1):before, .card-border:nth-child(2):before, 
.card-border:nth-child(3):before, .card-border:nth-child(4):before { 
    border-left: 6px solid #fff; border-right: 6px solid #fff; 
}
.card-border:nth-child(1):after, .card-border:nth-child(2):after,
.card-border:nth-child(3):after, .card-border:nth-child(4):after  { 
    border-bottom: 6px solid #fff; border-top: 6px solid #fff; 
}

.card-border:hover:before {
    transform: scaleY(1);
}

.card-border:hover:after {
    transform: scaleX(1);
}

.card-content {
    width: var(--card-width);
    height: var(--card-height);
    line-height: 1.35;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    transition: transform var(--d) var(--e);
    z-index: 1;
}

.card-content > *:not(.header-container) {
    padding: 0px 10px;
}

.card-content {
    transform: translateY(calc(100% - 60px));
}

.card-border:nth-child(2) .card-content {
    transform: translateY(calc(100% - 60px));
}

.card-border:nth-child(3) .card-content {
    transform: translateY(calc(100% - 60px));
}

.card-border:nth-child(4) .card-content {
    transform: translateY(calc(100% - 60px));
}

.card-content:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0.150) 0%,
      hsla(0, 0%, 0%, 0.289) 11.7%,
      hsla(0, 0%, 0%, 0.384) 22.1%,
      hsla(0, 0%, 0%, 0.442) 31.2%,
      hsla(0, 0%, 0%, 0.503) 39.4%,
      hsla(0, 0%, 0%, 0.542) 46.6%,
      hsla(0, 0%, 0%, 0.629) 53.1%,
      hsla(0, 0%, 0%, 0.640) 58.9%,
      hsla(0, 0%, 0%, 0.684) 64.3%,
      hsla(0, 0%, 0%, 0.748) 69.3%,
      hsla(0, 0%, 0%, 0.790) 74.1%,
      hsla(0, 0%, 0%, 0.807) 78.8%,
      hsla(0, 0%, 0%, 0.818) 83.6%,
      hsla(0, 0%, 0%, 0.821) 88.7%,
      hsla(0, 0%, 0%, 0.902) 94.1%,
      hsla(0, 0%, 0%, 0.959) 100%
    );
    transform: translateY(-49.8%);
    transition: transform calc(var(--d) * 2) var(--e);
    opacity: 0;
}

.header-container {
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffa500;
    background-color: #FFB726;
    background-color: #ffac07;
    transition: background-color 0.3s;
    padding: 5px 0px 10px 12px;
}

.logo {
    z-index: 10;
    margin-right: 7px;
}

.card:hover .card-content {
    transform: translateY(0);
}

.card:hover .card-content::after {
    opacity: 1;
}

.card-content > *:not(.header-container) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
}

.card:hover .card-content {
    transform: translateY(0);
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
}

.card:hover .card-content > *:not(.header-container) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
}

.card:hover .header-container {
    background-color: transparent;
}

.card-title { 
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 35px;
    z-index: 9;
    transition: color 0.3s ease;
}

.card:hover .card-title {
    color: #fff;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    z-index: 10;
    margin: 5px 0px 10px 0px;
}

.tag {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    background-color: #000;
    padding: 4px 10px;
    border-radius: 25px;
    margin-right: 5px;
    font-size: 16px;
    color: #fff;
    z-index: 10;
}

.card-description {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.3px;
    z-index: 9;
}

.card-link-container {
    display: flex;
    position: absolute;
    bottom: 20px;
    z-index: 9;
}

.card-link {
    font-family: 'Roboto', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.3px;
    background-color: #ff6a00;
    color: #fff;
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 5px;
}

.red {background-color: #e44d25;}
.white {background-color: #fff; color: black;}
.yellow { background-color: #feca3c; color: black}
.blue {background-color: #3178c6;}
.blue-react {background-color: #60dafa; color: black}
.blue-tailwind {background-color: #38bdf8; color: black}
.redux-purple {background-color: #fff; color: #774abb;}
.axios-purple {background-color: #774abb;}
.pastel-purple {background-color: #cf649a;}