@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Titillium+Web:wght@300&display=swap');

:root {
    --card-height: 280px;
    --card-width: 500px;
    --border-radius-standard: 10px;
    --card-transition-time: 0.2s;
    --card-gap: 50px;
}

html {
    min-height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    overflow: auto;
}

canvas {
    position: absolute;
    width: 100%;
    min-height: 760px;
    height: 100%;
    z-index: -1;
    top: 0;
    overflow: auto;
}

h1 {
    text-align: center;
    padding: 40px;
    font-size: 48px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 0.05rem;
}

a {
    color: #fff;
    text-decoration: none;
}

b {
    font-weight: 600;
}

li {
    font-family: 'Roboto', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    list-style-type: disc;
    font-size: 15px;
    margin-left: 45px;
    padding-right: 15px;
    line-height: 1.4;
}

ul > li:first-child {
    margin-top: 4px;
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: fit-content;
    min-height: var(--card-height);
    display: grid;
    align-content: center;
    grid-template-columns: var(--card-width) var(--card-width);
    grid-template-rows: var(--card-height) var(--card-height);
    flex-wrap: wrap;
    padding: 15px 10px;
    gap: var(--card-gap);
    /* background-color: rgb(255, 255, 255, 0.4); */
    /* border-radius: var(--border-radius-standard); */
}

.tag-container {
    margin: 15px 13px 0px 13px;
}

.tag {
    background-color: #000;
    font-size: 14px;
    color: white;
    padding: 3px 8px;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}

.container > .card {
    margin: 0px 10px;
}

.card {
    position: relative;
    height: var(--container-height);
    width: var(--image-width);
    /* border-radius: var(--border-radius-standard); */
}

.frame {
    width: var(--card-width);
    height: var(--card-height);
    transition: transform 200ms;
}

.frame:hover {
    transform: scale3d(1.05, 1.05, 1.05);
}
  
.card {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    position: absolute;
    transition-duration: 250ms;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out;
}

.card-image {
    object-fit: contain;
    height: var(--container-height);
    width: var(--card-width);
    /* border-radius: var(--border-radius-standard); */
}

.card-content {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: var(--card-width);
    height: var(--card-height);
    /* border-radius: var(--border-radius-standard); */
    line-height: 1.35;
}

.card-title {
    font-family: 'Roboto', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0px 0px 15px;
}

.card-description {
    font-family: 'Roboto', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    letter-spacing: 0.3 px;
    padding: 20px 15px 0px 15px;
}

.card-link-container {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.card-link {
    font-family: 'Roboto', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    letter-spacing: 0.03rem;
    background-color: #ff6a00;
    color: #fff;
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 5px;
}

#link-icon-title {
    margin-left: 15px
}

#coding-portfolio-title {
    color: rgba(255, 149, 0)
}

